div.curriculum-display{
  padding: 24px 32px 24px 32px ;
}

div.instructions{
  font-size: 20px;
  padding: 16px 0px 0px 0px;
}

div.page-header{
  font-weight: bold;
  font-size: 30px;
}

div.curriculum-selection-menu{
  padding: 12px 0px 24px 0px ;
}

div.dropdown-section{
  padding: 0px 16px 0px 0px;
  float: left;
}

div.curriculum-content{
  float: none;
}

div.semester-course-display{
  padding: 12px 0px 12px 0px ;
}

div.semester-name{
  padding: 0px 0px 12px 0px ;
  font-weight: bold;
  font-size: 22px;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}