.course-registration {
  font-weight: bold;
}

.instruction {
  margin: 20px 25px;
}

.content {
  display: flex;
}

.selection-side {
  flex: 1 1 0;
  margin: 0 25px;
}

.selection-dropdown {
  background-color: #b20007;
  color: white;
  font-weight: normal;
  font-size: 0.7em;
  padding: 10px 80px;
  border-radius: 2px;
}

.selection-course {
  display: flex;
}

.selection-search {
  flex-grow: 1;
}

.selected-side {
  list-style-type: none;
  padding: 0;
  margin: 0 25px 0 5px;
  height: 470px;
  overflow: scroll;
  border: 1px solid #eaeaea;
}

.selection-save {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px 25px 0 0;
}

.save-button {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #b20007;
  color: white;
  border-radius: 5px;
  border: none;
}

.save-button:hover {
  cursor: pointer;
  background-color: #7a0000;
}

.save-button:active {
  outline: none;
  background-color: #7a0000;
}

.save-button:disabled {
  background-color: #afafaf;
}

.selected-size-frame {
  flex: 1 1 0;
}
