.course-registration {
  font-weight: bold;
}

.instruction {
  margin: 20px 25px;
  line-height: 20px;
}

.content {
  display: flex;
}

.selection-side {
  flex: 1 1 0;
  margin: 0 25px;
}

.selection-dropdown {
  background-color: #b20007;
  color: white;
  font-weight: normal;
  font-size: 0.7em;
  padding: 10px 80px;
  border-radius: 2px;
}

.selection-course {
  display: flex;
}

.selection-search {
  flex-grow: 1;
}

.selected-side {
  list-style-type: none;
  padding: 0;
  margin: 0 25px 0 5px;
  height: 470px;
  overflow: scroll;
  border: 1px solid #eaeaea;
}

.select {
  flex-grow: 1;
  margin-left: 20px;
}

.selection-save {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px 25px 0 0;
}

.save-button {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #b20007;
  color: white;
  border-radius: 5px;
  border: none;
}

.save-button:hover {
  cursor: pointer;
  background-color: #7a0000;
}

.save-button:active {
  outline: none;
  background-color: #7a0000;
}

.save-button:disabled {
  background-color: #afafaf;
}

.selected-size-frame {
  flex: 1 1 0;
}

/************************** LOADING ANIMATION **************************/
.animation-wrapper {
  margin-left: 20px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #b20007;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
