.main_page_message {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.spacer {
  height: 100%;
}

.tab_content {
  display: flex;
  flex-direction: row;
}

.tab_content .spacer {
  width: 5%;
}

.list_courses {
  flex: 1.2;
}
