.header{
	height: 100px;
	background: #FFFFFF;
}

.title{
	left: 30px;
	top: 30px;

	font-weight: 500;
	font-size: 36px;
	color: #B20007;
}

.description{
    max-width: 70%;
}

body{
	background: #F9F9F9;
}

.footer{
	height: 100px;
	background: #B20007;
}
