.HeaderBar {
  width: 100%;
  height: 65px; /* arbritrary height */
  top: 0;
  left: 0;
  background-color: #b20007;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
}

.HeaderBar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.HeaderBar_project_name {
  margin-left: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.spaceFiller {
  flex: 1;
}

.HeaderBar_logo {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
