.course_checkbox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 100%;
  position: relative;
}

.custom_large_checkbox {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: transparent;
  border: 1px solid #b20007;
}
.custom_large_checkbox:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 12px;
  height: 8px;
  background: transparent;
  top: 2px;
  right: 3px;
  border: 1px solid white;
  border-top: none;
  border-right: none;

  transform: rotate(-48deg);
}

.custom_large_checkbox:hover::after {
  opacity: 0.5;
}

.course_checkbox input[type='checkbox']:checked ~ .custom_large_checkbox {
  background: #b20007;
}

.course_checkbox input[type='checkbox']:checked ~ .custom_large_checkbox:after {
  opacity: 1;
}

.checkbox_label {
  padding-left: 2.5rem;
  font-weight: 500;
}
