.interest_selection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.interest-list {
  padding: 1rem 1.5rem;
  height: 325px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  flex: 1;
  margin-bottom: 25px;
  overflow-y: scroll;
}

.btn_container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.btn {
  font-size: 100%;
  color: #8d8d8d;
  font-weight: bold;
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 0 0.5rem;
}
.btn:hover {
  color: #b20007;
}
